<p>
    about works!
</p>

<ol>
    <li>
        <h4 appBasicHighlight>Create Attribute directives: appBasicHighlight</h4>
        <p class="example">
            <code>
                this.elementRef.nativeElement.style.backgroundColor = 'yellow';
            </code>
        </p>
    </li>
    <li>
        <h4 appBetterHighlight>Better directives with Renderer2: appBetterHighlight</h4>
        <p class="example">
            <code>
                this.renderer.setStyle(this.elementDef.nativeElement, 'background-color', 'orange')
            </code>
        </p>
    </li>
    <li>
        <h4 #testHostListener>Host Listener: Hover me</h4>
        <p class="example">
            <code>
                @HostListener('mouseenter') mouseover()
            </code>
        </p>
    </li>

    <li>
        <h4>Host Binding</h4>
        <p class="example">
            <code>
                @HostBinding('style.color') textColor: string;
            </code>
        </p>
    </li>

</ol>