<h4>List Feature</h4>
<ol>
    <li>
        <a [routerLink]="['/about']">Create Attribute directives (About) <code>ng g directive my-directive-name</code></a>
    </li>
    <li>
        <a href="" [routerLink]="['/about']">Better Attribute directive with RENDERER <code>ng g d my-directive-name</code></a>
    </li>
    <li>
        <a [routerLink]="['/about']">Host Listener <code>@HostListener('mouseenter') mouseover()</code></a>
    </li>
    <li>
        <a [routerLink]="['/about']">Host Binding <code>@HostBinding('style.color') textColor: string;</code></a>
    </li>
</ol>